section#about.section
  .section__content.section__content--fluid-width.section__content--about
    .grid.grid--5col.grid--about
      .grid__item.grid__item--x3.grid__item--floated-right
        .grid__image.grid__image--right(data-paroller-factor='0.2' data-paroller-type='foreground' data-paroller-direction='vertical')
          img(src='/assets/images/desktop-frame-about.png' alt='' title='')
      .grid__item.grid__item--x2
        h3.grid__title
          | #[span Conectamos] seu negócio ao mundo digital
        p.grid__text
          | Desde a prototipação até a gestão da equipe, atuamos com profissionalismo para levar inteligência em tecnologia a você.
        ul.grid__list
          li Design de soluções de software
          li Equipes de Desenvolvimento Ágil
          li Entregas rápidas e funcionais