section#about2.section
  .section__content.section__content--fluid-width.section__content--about
    .grid.grid--5col.grid--about
      .grid__item.grid__item--x3
        .grid__image.grid__image--left(data-paroller-factor='0.2' data-paroller-type='foreground' data-paroller-direction='vertical')
          img(src='/assets/images/desktop-frame-about-3.png' alt='' title='')
      .grid__item.grid__item--x2
        h3.grid__title
          | Os #[span melhores profissionais] ao seu dispor
        p.grid__text
          | Nossa equipe é selecionada à dedo com mão de obra brasileira de alto nível.
        ul.grid__list
          li Designers premiados
          li Desenvolvedores sêniors
          li Cultura empresarial empreendedora