section#about2.section
  .section__content.section__content--fluid-width.section__content--about
    .grid.grid--5col.grid--about
      .grid__item.grid__item--x3
        .grid__image.grid__image--left(data-paroller-factor='0.2' data-paroller-type='foreground' data-paroller-direction='vertical')
          img(src='/assets/images/desktop-frame-about-3.png' alt='' title='')
      .grid__item.grid__item--x2
        h3.grid__title!=t(locale, 'about.1.title')
        p.grid__text!=t(locale, 'about.1.text')
        ul.grid__list
          each index in [0, 1, 2]
            li!=t(locale, 'about.1.list.' + index)