section#cta.section.section--cta
  .section__content.section__content--fluid-width.section__content--padding.section__content--cta
    h2.section__title.section__title--centered.section__title--cta Get Started Now!
    .section__description.section__description--centered.section__description--cta
      | We believe we have created the most efficient SaaS landing page for your users. Landing page with features that will convince you to use it for your SaaS business.
    .intro__buttons.intro__buttons--centered
      a.btn.btn--dark-bg(href='index.html') CREATE AN ACCOUNT
  svg.svg-cta-bottom(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 100 100' preserveaspectratio='none')
    path(d='M0,100 L100,70 100,100 Z' fill='#ffffff')