section#features.section.section--features
  .section__content.section__content--fluid-width.section__content--features
    h2.section__title.section__title--centered Features designed for you
    .section__description.section__description--centered
      | We believe we have created the most efficient SaaS landing page for your users. Landing page with features that will convince you to use it for your SaaS business.
    .grid.grid--3col.grid--features
      .grid__item
        .grid__icon
          img(src='/assets/images/icons/icons-96-black/responsive-96.png' alt='' title='')
        h3.grid__title
          span Responsive
          |  Layout Template
        p.grid__text
          | Responsive code that makes your landing page look good on all devices (desktops, tablets, and phones). Created with mobile specialists.
      .grid__item
        .grid__icon
          img(src='/assets/images/icons/icons-96-black/desktop-chart-96.png' alt='' title='')
        h3.grid__title
          | SaaS Landing Page
          span Analysis
        p.grid__text
          | A perfect structure created after we analized trends in SaaS landing page designs. Analysis made to the most popular SaaS businesses.
      .grid__item
        .grid__icon
          img(src='/assets/images/icons/icons-96-black/browser-96.png' alt='' title='')
        h3.grid__title
          | Smart
          span BEM
          |  Grid
        p.grid__text
          | Blocks, Elements and Modifiers. A smart HTML/CSS structure that can easely be reused. Layout driven by the purpose of modularity.