section#pricing.section
  .section__content.section__content--fluid-width.section__content--padding
    h2.section__title.section__title--centered Our Plans
    .section__description.section__description--centered
      | We believe we have created the most efficient SaaS landing page for your users. Landing page with features that will convince you to use it for your SaaS business.
    .pricing
      .pricing__switcher.switcher
        .switcher__buttons
          .switcher__button.switcher__button--enabled Monthly
          .switcher__button Yearly
          .switcher__border
      .pricing__plan
        h3.pricing__title FREE
        .pricing__values
          .pricing__value.pricing__value--show
            span $
            | 0
            b / month
          .pricing__value.pricing__value--hide.pricing__value--hidden
            span $
            | 0
            b / yearly
        ul.pricing__list
          li
            b 1
            |  User Account
          li
            b 10
            |  Team Members
          li
            b Unlimited
            |  Emails Accounts
          li Set And Manage Permissions
          li.disabled API &amp; extension support
          li.disabled Developer support
          li.disabled A / B Testing
        a.pricing__signup(href='') Sign up
      .pricing__plan.pricing__plan--popular
        .pricing__badge-bg
        .pricing__badge-text POPULAR
        h3.pricing__title PRO
        .pricing__values
          .pricing__value.pricing__value--show
            span $
            | 49
            b / month
          .pricing__value.pricing__value--hide.pricing__value--hidden
            span $
            | 529
            b / yearly
        ul.pricing__list
          li
            b 50
            |  User Account
          li
            b 500
            |  Team Members
          li
            b Unlimited
            |  Emails Accounts
          li Set And Manage Permis sions
          li API &amp; extension support
          li Developer support
          li.disabled A / B Testing
        a.pricing__signup(href='') Sign up
      .pricing__plan
        h3.pricing__title ULTRA
        .pricing__values
          .pricing__value.pricing__value--show
            span $
            | 99
            b / month
          .pricing__value.pricing__value--hide.pricing__value--hidden
            span $
            | 900
            b / yearly
        ul.pricing__list
          li
            b Unlimited
            |  User Account
          li
            b Unlimited
            |  Team Members
          li
            b Unlimited
            |  Emails Accounts
          li Set And Manage Permissions
          li API &amp; extension support
          li Developer support
          li A / B Testing
        a.pricing__signup(href='') Sign up
    .clear