section#testimonials.section.section--testimonials
  .section__content.section__content--fluid-width.section__content--padding
    h2.section__title.section__title--centered Success stories
    .testimonials
      .testimonials__content.swiper-wrapper
        .testimonials__slide.swiper-slide
          .testimonials__thumb(data-swiper-parallax='-50%')
            img(src='/assets/images/avatar-1.jpg' alt='' title='')
          .testimonials__source
            | Lason Duvan
            a(href='#') New York Business Center
          .testimonials__text(data-swiper-parallax='-100%')
            p
              | &quot;Business is all about the customer: what the customer wants and what they get. &quot;
        .testimonials__slide.swiper-slide
          .testimonials__thumb(data-swiper-parallax='-50%')
            img(src='/assets/images/avatar-2.jpg' alt='' title='')
          .testimonials__source
            | Jada Sacks
            a(href='#') Paris Tehnics
          .testimonials__text(data-swiper-parallax='-100%')
            p
              | &quot; I&apos;ve internalized it to the point of understanding that the success of my actions and/or endeavors&quot;
        .testimonials__slide.swiper-slide
          .testimonials__thumb(data-swiper-parallax='-50%')
            img(src='/assets/images/avatar-3.jpg' alt='' title='')
          .testimonials__source
            | Lason Duvan
            a(href='#') Music Software
          .testimonials__text(data-swiper-parallax='-100%')
            p
              | &quot;The American Dream is that any man or woman, despite of his or her background, can change their circumstances&quot;
        .testimonials__slide.swiper-slide
          .testimonials__thumb(data-swiper-parallax='-50%')
            img(src='/assets/images/avatar-4.jpg' alt='' title='')
          .testimonials__source
            | Duran Jackson
            a(href='#') New York Business Center
          .testimonials__text(data-swiper-parallax='-100%')
            p
              | &quot;Generally, every customer wants a product or service that solves their problem, worth their money&quot;
        .testimonials__slide.swiper-slide
          .testimonials__thumb(data-swiper-parallax='-50%')
            img(src='/assets/images/avatar-5.jpg' alt='' title='')
          .testimonials__source
            | Maria Allesi
            a(href='#') Italy Solutions
          .testimonials__text(data-swiper-parallax='-100%')
            p
              | &quot;No one can make you successful; the will to success comes from within.&apos; I&apos;ve made this my motto.&quot;
        .testimonials__slide.swiper-slide
          .testimonials__thumb(data-swiper-parallax='-50%')
            img(src='/assets/images/avatar-6.jpg' alt='' title='')
          .testimonials__source
            | Jenifer Patrison
            a(href='#') App Dating
          .testimonials__text(data-swiper-parallax='-100%')
            p &quot;Can change their circumstances and rise as high as they are willing to work&quot;
      .testimonials__pagination.swiper-pagination
      .testimonials__button--next.swiper-button-next
      .testimonials__button--prev.swiper-button-prev
    .clear