footer#footer.footer
  .footer__content.footer__content--fluid-width.footer__content--svg
    .grid.grid--4col
      .grid__item.grid__item--x3
        h3.grid__title.grid__title--footer-logo FRAME TOOLS
        p.grid__text.grid__text--copyright
          | Copyright &copy; 2020 Frame Tools.
          br
          | #{t(locale, 'footer.legal')}
        ul.grid__list.grid__list--sicons
          li
            a(href='#')
              img(src='/assets/images/social/black/twitter.png' alt='' title='')
          li
            a(href='#')
              img(src='/assets/images/social/black/facebook.png' alt='' title='')
          li
            a(href='#')
              img(src='/assets/images/social/black/linkedin.png' alt='' title='')
      .grid__item.contact
        h3.grid__title.grid__title--footer-logo=t(locale, 'footer.contact.title')
        p.grid__text.grid__text--copyright
          a(href='mailto:contato@frametools.dev') contato@frametools.dev
          br
          | +55 41 3088-0642
          br
          br
          | Av. Silva Jardim, 2042 - SL 802
          br
          | Água Verde - Curitiba - PR
          br
          | 80240-020
