footer#footer.footer
  .footer__content.footer__content--fluid-width.footer__content--svg
    .grid.grid--2col
      .grid__item.grid__item
        h3.grid__title.grid__title--footer-logo FRAME TOOLS
        p.grid__text.grid__text--copyright
          | Copyright &copy; 2020 Frame Tools.
          br
          | Todos os direitos reservados. Feito com ❤️ em Curitiba.
        ul.grid__list.grid__list--sicons
          li
            a(href='#')
              img(src='/assets/images/social/black/twitter.png' alt='' title='')
          li
            a(href='#')
              img(src='/assets/images/social/black/facebook.png' alt='' title='')
          li
            a(href='#')
              img(src='/assets/images/social/black/linkedin.png' alt='' title='')
