footer#footer.footer
  .footer__content.footer__content--fluid-width.footer__content--svg
    .grid.grid--5col
      .grid__item.grid__item--x2
        h3.grid__title.grid__title--footer-logo LATERAL
        p.grid__text.grid__text--copyright
          | Copyright &copy; 2018 LATERAL.
          br
          | All Rights Reserved. Proudly made in EU.
        ul.grid__list.grid__list--sicons
          li
            a(href='#')
              img(src='/assets/images/social/black/twitter.png' alt='' title='')
          li
            a(href='#')
              img(src='/assets/images/social/black/facebook.png' alt='' title='')
          li
            a(href='#')
              img(src='/assets/images/social/black/linkedin.png' alt='' title='')
      .grid__item
        h3.grid__title.grid__title--footer Company
        ul.grid__list.grid__list--fmenu
          li
            a(href='#') About
          li
            a(href='#') Carrers
          li
            a(href='#') Awards
          li
            a(href='#') Users Program
          li
            a(href='#') Locations
      .grid__item
        h3.grid__title.grid__title--footer Products
        ul.grid__list.grid__list--fmenu
          li
            a(href='#') Integrations
          li
            a(href='#') API
          li
            a(href='#') Pricing
          li
            a(href='#') Documentation
          li
            a(href='#') Release Notes
      .grid__item
        h3.grid__title.grid__title--footer Support
        ul.grid__list.grid__list--fmenu
          li
            a(href='#') Contact
          li
            a(href='#') FAQ
          li
            a(href='#') Press