section.modal.modal--animation
  .modal__overlay.modal__overlay--toggle
  .modal__wrapper.modal__wrapper--image.modal-transition
    .modal__body
      button.modal__close.modal__overlay--toggle
        span
      .modal__header How it works animation
      .modal__image
        img(src='/assets/images/intro-animation.gif' alt='' title='')