section.modal.modal--signuplogin
  .modal__overlay.modal__overlay--toggle
  .modal__wrapper.modal-transition
    .modal__body
      .modal__content.modal__content--login
        .modal__info
          h2.modal__title First time here?
          .modal__descr
            | Join now and get 
            span 20% OFF
            |  for all products
          ul.modal__list
            li premium access to all products
            li free testing tools
            li unlimited user accounts
          button.modal__switch.modal__switch--signup(data-popup='signup') Signup
        .modal__form.form
          h2.form__title Login
          form#LoginForm.form__container(method='post' action='index.html')
            .form__row
              label.form__label(for='namec') Name
              input#namec.form__input(name='namec' type='text')
              span.form__row-border
            .form__row
              label.form__label Email
              input.form__input(name='emailc' type='text')
              span.form__row-border
            .modal__checkbox
              input#remember(name='remember' value='remember' checked='' type='checkbox')
              label(for='remember') Keep me Signed in
            .modal__switch.modal__switch--forgot(data-popup='forgot') Forgot Password?
            input#submitl.form__submit.btn.btn--green-bg(type='submit' name='submit' value='LOGIN')
      .modal__content.modal__content--forgot
        .modal__form.form
          h2.form__title Forgot Password
          form#ForgotForm.form__container(method='post' action='index.html')
            .form__row
              label.form__label Email
              input.form__input(name='emailf' type='text')
              span.form__row-border
            input#submitf.form__submit.btn.btn--green-bg(type='submit' name='submit' value='RESET PASSWORD')
        .modal__info
          h2.modal__title We got you covered
          .modal__descr A new password will be sent by email. Remembered your password?
          button.modal__switch.modal__switch--signup(data-popup='login') Login
      .modal__content.modal__content--signup
        .modal__form.form
          h2.form__title Signup
          form#SignupForm.form__container(method='post' action='index.html')
            .form__row
              label.form__label(for='names') Username
              input#names.form__input(name='namec' type='text')
              span.form__row-border
            .form__row
              label.form__label Email
              input.form__input(name='emails' type='text')
              span.form__row-border
            .form__row
              label.form__label(for='pass') Password
              input#pass.form__input(name='pass' type='password')
              span.form__row-border
            input#submit.form__submit.btn.btn--green-bg(type='submit' name='submit' value='SIGNUP')
        .modal__info
          h2.modal__title Allready have an account?
          .modal__descr
            | Login now and starting using our 
            span amazing
            |  products
          ul.modal__list
            li premium access to all products
            li free testing tools
            li unlimited user accounts
          button.modal__switch.modal__switch--login(data-popup='login') Login
